<ion-item>
  <ion-label class="ion-text-wrap">
    <h2>{{ task.title }}</h2>
    <p>Categoría: {{ task.category }}</p>
  </ion-label>

  <ion-checkbox
    (ionChange)="toggleCompleted(task)"
    [checked]="task.completed"
    slot="start"
  />
  <ion-button
    (click)="editTask(task)"
    (keyDown)="editTask(task)"
    color="warning"
    slot="end"
  >
    Editar
  </ion-button>
  <ion-button
    (click)="deleteTask(task.id)"
    (keyDown)="deleteTask(task.id)"
    *ngIf="enableTaskDeletion"
    color="danger"
    slot="end"
  >
    Eliminar
  </ion-button>
</ion-item>
