<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-task">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment
    (ionChange)="onCategoryChange($event)"
    [(ngModel)]="selectedCategory"
    mode="md"
  >
    <ion-segment-button value="all">
      <ion-label>Todas</ion-label>
    </ion-segment-button>

    <ion-segment-button
      *ngFor="let category of categories"
      [value]="category.id"
    >
      <ion-label>{{ category.name }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="tasks.length > 0; else noTasks">
    <app-task-item
      (taskDeleted)="loadTasks()"
      [task]="task"
      *ngFor="let task of tasks; trackBy: trackByFn"
    />
  </ion-list>

  <ng-template #noTasks>
    <div class="empty-state">
      <p>No tienes tareas aún. ¡Agrega una nueva!</p>
    </div>
  </ng-template>
</ion-content>
